/* Page Theme */
.ant-layout-content {
  margin: 20px 0px !important;
  padding: 15px !important;
  min-height: 280px;
}

/* Header */
.trigger {
  font-size: 18px;
  line-height: 60px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 0.90rem;
}

/* Header/Menubar */
.anticon-menu-fold, .anticon-menu-unfold {
  margin-left: -20px;
}

/* .trigger:hover {
  color: #5b5d5e;
} */

.logo {
  height: 32px;
  color: #fff;
  background: #1b1b1b;
  height: 55px;
  line-height: 30px;
  /* background-image: url(../images/logo1.png); */
}

.testlogo {
  margin-top: -16%;
  margin-left: 40%;
}

.ant-layout-sider-children {
  background: #333333;
  /* width: 110%; */
}

.site-layout {
  background: #333333;
  color: #fff;
}

.site-layout-background {
  color: #fff;
}

.ant-layout-header {
  background: #1b1b1b;
}

.ant-card-bordered {
  border: none;
}

.ant-card-head {
  background: #292929;
  color: #fff;
  border-radius: 0%;
}

/* App css 
ChartContainer
*/
.site-card-wrapper {
  margin-top: 1.15%;
}
.ant-card-body {
  background: #292929;
  color: #fff;
  padding: 10px;
 }

/* .site-grid-wrapper .ant-card-body {
  margin-top: 1%;
} */
/* .chartjs-render-monitor{
background-color: #292929;
} */

/* Table Element */
.table>thead>tr>th {
  padding: 9px;
  border-top: none;
  border-bottom: 1px solid white;
}
.table>tbody>tr>td {
  padding: .35em;
  border-top: 0.01px solid grey;
}
.table-striped > tbody > tr:nth-child(2n+1) > td {
  background-color: #484848;
  /* border-top: 1px solid #dee2e6; */
}
.tableElement {
  background-color: #292929;
  padding: 24px;
  margin-top: -2%;
  font-size: 11px;
  line-height: 16px;

}
.tr,td,th, h6 {
  color: rgba(255, 255, 255, 0.5);
}
/* Statistic Block */
.statistic-block {
  padding: 20px;
  background: #292929;
  color: #8a8d93;
}

.statistic-block .title {
  text-align: center;
}

.number {
  margin-right: 15%;
}

.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px !important;
  color: #8a8d93;
  margin-bottom: -5px !important;
}

.statistic-block .number {
  color: inherit;
  font-size: 25px !important;
}

.statistic-block strong,
.statistic-block span {
  display: block;
}

.statistic-block strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  color: #8a8d93;
  margin-bottom: 5px;
}

.statistic-block .icon {
  margin-bottom: 5;
  font-size: 1.2rem;
  color: #8a8d93;
}

.statistic-block .number {
  color: inherit;
  font-size: 2.2rem;
}

.progress.progress-template {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  overflow: hidden;
  background: #393c43;
  margin-top: 5px;
}

.progress.progress-template.progress-small {
  height: 2px;
}

.progress-bar.progress-bar-template {
  height: 4px;
  border-radius: 30px;
}

.progress-bar.progress-bar-template.progress-bar-small {
  height: 2px;
}

/* SideBar Nav Background */
.ant-menu.ant-menu-dark {
  background: #292929;
}

.logout-content {
  color: #fff;
  float: right;
  margin-top: -80px;
}

.ant-layout-header {
  height: 55px;
  /* padding: 0 50px;
  color: rgba(0, 0, 0, 0.85); */
  line-height: 60px;
  /* background: #001529; */
}

.welcome-message{
  position: absolute;
  margin-top: -88px;
  margin-left: 55rem;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #292929;
}

/* .anticon svg {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: -3px;
} */

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #188fff67;
  height: 35px;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.anticon, .anticon-menu-fold, .trigger, .anticon svg {
  margin-bottom: 9px;
}

.sidebar-title {
  padding: 12px 25px;
  margin: 0;
  font-size: 14px;
  line-height: 10px;
  font-weight: 500;
  color: #b9b9b9;
  background: #484848;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #292929;
}

.ant-menu-item, .dashboard-icon {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.anticon svg {
  margin-bottom: 7px;
  width: 15px;
  height: 15px;;
}

/*Status Switch*/
.ant-switch-checked {
  background-color: #13bb13;
}
.switch-content {
  margin-top: -30px;
  margin-bottom: 8px;
  margin-left:85%;
}

/*Status Switch*/
.ant-cascader-menu {
  min-width: 149px;
  height: 79px;
}
.ant-cascader-picker-label {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 20px;
  margin-top: -10px;
  padding: 0 20px 0 12px;
  overflow: hidden;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* @media (min-width: 320px) and (max-width: 1440px){ */
  .input-content {
    background: #292929;
    height: 12rem;
  }
  .ant-cascader-menu {
    display: inline-block;
    min-width: 100px;
    height: 80px;
  }
  /* Report Element */
  .input-content label {
    color: rgba(255, 255, 255, 0.5);
  }
  .report-element {
    margin-top: 2%;
  }
  .report-element h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  .input-element {
    margin-left: 10%;
  }
  .report-constants {
    margin-left: 22px;
  }
  .ant-cascader-picker-arrow {
    color: #fff;
  }
  .ant-cascader-picker-label {
    color: rgba(255, 255, 255, 0.5);
  }