.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout {
  background: #333333;
  color: #fff;
}
.site-layout-background {
  color: #fff;
}
.ant-layout-header {
  background: #1b1b1b;
}
.ant-card-bordered {
  border: none;
}
.ant-card-head {
  background: #292929;
  color: #fff;
  border-radius: 0%;
  /* border: 1px solid white; */
}