@import '~antd/dist/antd.css';
.App {
  text-align: left;
}
h4.ant-typography {
  color: white;
  margin-top: 1.5%;
  float: left;
}
.ant-avatar.ant-avatar-icon {
  float: right;
  margin-top: 1.5%;
}
.site-layout-content {
  min-height: 500px;
  padding: 24px;
  background: #fff;
}
.App footer {
  text-align: center;
}
.Online {
  float: right;
  background: #001529;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-radius: 25px;
}
.temp-sensor-one-container {
  width: 15%;
  height: 20%;
  position: absolute;
  margin-top: 4%;
  margin-left: 2.5%;
  background: #001529;
  border-radius: 5px;
}
.temp-sensor-one-value h2,h4{
  text-align: center;
  margin-top: 4%;
  color: #fff;
}
.temp-sensor-two-container {
  width: 15%;
  height: 20%;
  position: absolute;
  margin-top: 4%;
  margin-left: 20.5%;
  background: #001529;
  border-radius: 5px;
}
.temp-sensor-two-value h2,h4{
  text-align: center;
  margin-top: 4%;
  color: #fff;
}
.turbine-rpm-container {
  width: 15%;
  height: 20%;
  position: absolute;
  margin-top: 4%;
  margin-left: 38.5%;
  background: #001529;
  border-radius: 5px;
}
.turbine-rpm-value h2,h4{
  text-align: center;
  margin-top: 4%;
  color: #fff;
}
.pressure-sensor-container {
  width: 15%;
  height: 20%;
  position: absolute;
  margin-top: 4%;
  margin-left: 56.5%;
  background: #001529;
  border-radius: 5px;
}
.pressure-sensor-value h2,h4{
  text-align: center;
  margin-top: 4%;
  color: #fff;
}
.site-card-wrapper {
  padding: 30px;
  background: #ececec;
  margin-top: 3%;
}
.chartjs-render-monitor{
background-color: #292929;
}